# Base
ENVIRONMENT=local
SECRET_KEY=django-insecure
DEBUG=true
ALLOWED_HOSTS=localhost,127.0.0.1,[::1]
TIME_ZONE=Asia/Yekaterinburg

# Toggle apps
SILK_ENABLED=true
AXES_ENABLED=true
ZEAL_ENABLED=true
LOGGING_ENABLED=true

# Axes
AXES_FAILURE_TRIES=5
AXES_COOLOFF_MINUTES=15

# Database
DATABASE_ENGINE=django.db.backends.sqlite3
POSTGRES_DB=django-template
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# CORS and CSRF
CORS_ALLOWED_ORIGINS=http://localhost:8080,http://localhost:8081,http://localhost:8082,http://localhost:8083,http://localhost:8084,http://localhost:8085
CORS_ALLOW_ALL_ORIGINS=true
CSRF_TRUSTED_ORIGINS=[]
